body {
     background-image: url("../img/2.jpg");
     background-attachment: fixed;
     margin: 0 auto;
}

.level {
    border:solid 1px indigo;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 25px;
} 

.level:hover {
    background-color: rgb(35, 117, 165);
    transition: 1s
}

.board-container {
    padding-top: 10%;
    text-align: center;
    border-radius: 5px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.table-div {
    display:none;
    padding:10px;
}

.hints {
    padding: 1px;
    margin-left: 30%;
    margin-right: 30%;
}

td.red {
    background-color: indianred
}

.cell {
    width: 20px;
    height: 20px;
    background-position: 0-39px;
    background-color: rgba(156, 151, 151, 0.712);
}

.cell:hover {
    background-color: rgb(23, 171, 182);
}

.cell-green {
    color: green;
}

.cell-blue {
    color: blue;
}

.cell-red{
    color: red;
}

.extras {
    margin-top: 10px;
}

.lives {
    margin-top: 10%;
    background-color: black;
    color: lightgreen;
    padding-top: 0px;
    padding-bottom: 0px;
    /* margin-right: 33%;
    margin-left: 33%; */
    margin-bottom: 10px;
    border-top-style: dashed;
    border-bottom-style: dashed;
    font-style: bold;
    font-weight: bold;
    font-size: larger;
    border-radius: 3px;
}

.safe-click {
    background-color: rgb(61, 116, 180);
    height: 40px;
    width: 90px;
}

.modal {
    display: none;
    font-size: large;
    font-style: bold;
    color: rgb(206, 193, 192);
}

img {
    width: 30px;
}

.num-of-clicks {
    font-size: larger;
    background-color: #fff;
}




.clouds {
    background: transparent url(https://pluspng.com/img-png/cloud-png-cloud-png-transparent-image-3114.png) repeat top center;
    z-index: 3;
    animation: move-clouds-back 200s linear infinite;
    height: 96vh;
}



@keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 10000px 0;
    }
}




@keyframes bouncy {
    0% {
        top: 0em
    }
    40% {
        top: 0em
    }
    43% {
        top: -0.9em
    }
    46% {
        top: 0em
    }
    48% {
        top: -0.4em
    }
    50% {
        top: 0em
    }
    100% {
        top: 0em;
    }
}
